@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
  color: #1e4f91;
}
.animatlinedown{
  position: relative;
}

.animatlinedown::after{
  position: absolute;
  content: '';
  width: 1px;
  height: 0;
  left: 0;
  transition: 0.5s;
  top: 0;
  background-color:#1e4f91;
}
.animatlinedown::before{
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  width: 1px;
  transition: 0.5s;
  height: 0;
  background-color: #1e4f91;
}

.animatlinedown:hover::after,
.animatlinedown:hover::before{
height: 100%;
}